@mixin fontFace($line, $weight, $style) {
  font-family: 'Noto Sans SC';
  src: url('./NotoSansSC-#{$line}.ttf') format('ttf');
  font-style: $style;
  font-weight: $weight;
}

$lines: 'Thin', 'ExtraLight', 'Light', 'Regular', 'Medium', 'SemiBold', 'Bold', 'ExtraBold', 'Black';
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $line in $lines {
  $index: index($lines, $line);
  $style: italic;
  @if $index == 5 {
    $style: normal;
  }
  @font-face {
    @include fontFace($line, nth($weights, $index), $style);
  }
}
