@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Noto Sans SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.popover-indicate {
  &::before {
    content: "";
    @apply w-0 h-0 block border-[6px] border-solid border-transparent border-b-white ml-4 -mt-1.5;
  }

  &.popover-indicate-right {
    &::before {
      @apply ml-auto mr-2.5;
    }
  }
}

.n-button {
  background-color: var(--n-color);
}
