@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./variables.scss');

@layer base {
  @media (min-width: 1536px) {
    .container {
      max-width: 1240px;
    }
  }
}

body {
  font:
    14px 'Noto Sans SC',
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
}

.popover-indicate {
  &::before {
    content: '';
    @apply w-0 h-0 block border-[6px] border-solid border-transparent border-b-white ml-4 -mt-1.5;
  }

  &.popover-indicate-right {
    &::before {
      @apply ml-auto mr-2.5;
    }
  }
}

.n-button {
  background-color: var(--n-color);
}
